<div id="leftHomePage"> 
  <div id="sliderContainer">
    <ul class="slider">
      <li>
        <input type="radio" id="slide0" name="slide" checked />
        <label for="slide0"></label>
        <div class="slideTitle" id="slideTitle0">
          <p><%= @slider_publications.first.title%></p>
        </div>
        <%= image_tag(@slider_publications.first.img_string) %>
      </li>
      <li>
        <input type="radio" id="slide1" name="slide" />
        <label for="slide1"></label>
        <div class="slideTitle" id="slideTitle1">
          <p><%=@slider_publications.second.title%></p>
        </div>
        <%= image_tag(@slider_publications.second.img_string) %>
      </li>
      <li>
        <input type="radio" id="slide2" name="slide" />
        <label for="slide2"></label>
        <div class="slideTitle" id="slideTitle2">
          <p><%=@slider_publications.third.title%></p>
        </div>
        <%= image_tag(@slider_publications.third.img_string) %>
      </li>
      <li>
        <input type="radio" id="slide3" name="slide" />
        <label for="slide3"></label>
        <div class="slideTitle" id="slideTitle3">
          <p><%=@slider_publications.fourth.title%></p>
        </div>
        <%= image_tag(@slider_publications.fourth.img_string) %>
      </li>
    </ul>
  </div>

  <div id="mainMenuArticleSection">
    <div id="mainMenuArticleContainer1" class="mainMenuArticleContainer">
      <table class="mainMenuArticleTable">
        <tr>
          <th colspan="2">Latest stories</th>
        </tr>
        <%@latest_publications.each do |p|%>
          <tr>
            <td class="articleSectionImageCell">
              <%= image_tag(p.img_string, :class => "articleImage") %>
            </td>
            <td class="articleSectionTitleCell">
              <p><%=link_to p.title, publication_path(p)%></p>
            </td>
          </tr>
        <%end%>
      </table>
    </div>

    <div id="mainMenuArticleContainer2" class="mainMenuArticleContainer">
      <table class="mainMenuArticleTable">
        <tr>
          <th colspan="2">Featured for you</th>
        </tr>
        <% if @current_user %>
          <%@featured_publications.each do |p|%>
            <tr>
              <td class="articleSectionImageCell">
                <%= image_tag(p.img_string, :class => "articleImage") %>
              </td>
              <td class="articleSectionTitleCell">
                <p><%=link_to p.title, publication_path(p)%></p>
              </td>
            </tr>
          <%end%>
        <% else %>
          <tr>
            <td height="62px"></td>
            <td rowspan="5">
              <p>
                <i>
                  Sign in to see content according to your preferences.
                </i>
              </p>
            </td>
          </tr>
          <tr>
            <td height="65px"></td>
          </tr>
          <tr>
            <td height="65px"></td>
          </tr>
          <tr>
            <td height="65px"></td>
          </tr>
          <tr>
            <td height="65px"></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div id="mainMenuTopReviews">
  <div>
    <table id="mainMenuTableTopReviews">
      <tr>
        <th colspan="3" id="topRatingsTitle">
          Top Ratings
        </th>
      </tr>
      <%if @first_review%>
        <tr>
          <th colspan="3">
            <%= image_tag(@first_review.img_string, :id => "topOneReviewImage") %>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            1.- <%=link_to @first_review.title, publication_path(@first_review)%>
          </th>
          <th>
            <%=@first_review.grade.to_s%>
          </th>
        </tr>
      <%end%>
    </table>
    <table class="mainMenuTableTopReviews" style="margin-top:0px">
      <%@top_reviews.each do |p|%>
        <tr>
          <td class="topReviewImageContainer">
            <%= image_tag(p.img_string, :class => "topReviewImage") %>
          </td>
          <td class="topReviewTitle">
            <%=@place += 1%>.- <%=link_to p.title, publication_path(p)%>
          </td>
          <td class="topReviewRating">
            <%=p.grade.to_s%>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>

<div class="floatClearer"></div>