<% @page_title = "UserAuth | Login" -%>
<div class="signInForm">
  <h1>Log in</h1>
  <%= form_tag(:action => 'login_attempt') do %>
    <p class="signField">Username or Email:</br> <%= text_field_tag(:username_or_email) %></p> 
    <p class="signField">Password:</br> <%= password_field_tag :login_password %></p> 
    <p class="signField"><%= submit_tag("Log In", :class => "signButton") %></p>
  <% end %>
  <p id="signUpMessage">If you do not yet have an account, you can create a new one <%= link_to "here", new_user_path %></p>
</div>