<% @page_title = "Publication | Create" %>
<% if @publication.errors.any? %>
  <div class="signUpErrors">
  <% for message_error in @publication.errors.full_messages %>
    <p>* <%= message_error %></p>
  <% end %>
  </div>
<% end %>
<div class="signUpForm">
  <h1>Review</h1>
  <%= form_for(:publication, :url => {:controller => 'publications', :action => 'create'}) do |f| %>
    <p class="signField"> Title:</br> <%= f.text_field :title, class: "articleTextBox" %> </p>
    <%=f.hidden_field :publication_type, :value => @type%>
    <p class="signField"> Intro:</br> <%= f.text_area :intro, class: "introField" %> </p>
    <p class="signField"> Content:</br> <%= f.text_area :content, class: "contentField" %> </p>
    <p class="signField"> Image Url:</br> <%= f.text_field :img_string, class: "articleTextBox"%> </p>
    <p class="signField"> Summary:</br> <%= f.text_area :summary, class: "introField" %> </p>
    <p class="signField"> Grade:</br> <%= f.number_field :grade, :min => 0, :max => 10, :step => 0.1%> </p>
    <%= submit_tag("Create Review", :class => "signButton")  %>
  <% end %>
</div>

<div class="floatClearer"></div>