<table id="majorArticleContainer">
  <tr>
    <td style="width:10%"></td>
    <td style="width:80%">
      <div id="articleInnerContainer" class="articleOuterContainer">
        <table class="article">
          <tr>
            <td class="addRemoveReadingList">
              <%if @current_user%>
                <%if @favorite%>
                  <%=link_to "Remove from Reading List", remove_from_list_path(publication_id: @publication.id)%>
                <%else%>
                  <%=link_to "Add to Reading List", add_to_list_path(publication_id: @publication.id)%>
                <%end%>
              <%end%>
            </td>
          </tr>
          <tr>
            <th>
              <%= @publication.title%>
            </th>
          </tr>
          <tr>
            <td class="introCell">
              <p><%= @publication.intro%></p>
            </td>
          </tr>
          <tr>
            <td>
              <%= image_tag @publication.img_string, class: "mainArticleImage" %>
            </td>
          </tr>
          <tr>
            <td class="articleContentCell">
              <p><%= @publication.content%></p>
            </td>
          </tr>
          <%if @publication.publication_type == "review"%>
            <tr>
              <td>
                <table class="reviewSpecific">
                  <tr>
                    <td class="reviewGrade">
                      <p><%= @publication.grade.to_s%></p>
                    </td>
                    <td class="reviewSummary">
                      <p><%= @publication.summary%></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </td>
    <td style="width:10%"></td>
  </tr>
  <tr>
    <td style="width:10%"></td>
    <td style="width:80%">
      <br/><br/><br/>
      <fieldset>
        <legend id="commentsTitle">COMMENTS</legend>
      </fieldset>

      <%if @current_user%>
        <%= form_for(:comment, :url => {:controller => 'comments', :action => 'create'}) do |f| %>
          <p class="signField"> New comment:</br> <%= f.text_area :text%> </p>
          <%=f.hidden_field :user_id, :value => @current_user.id%>
          <%=f.hidden_field :publication_id, :value => @publication.id%>
          <%= submit_tag("Post Comment", :class => "signButton")  %>
        <%end%>
      <%end%>

      <%@publication.comments.each do |c|%>
        Name: <%=c.user.username%> <br>
        Email: <%=c.user.email%><br>
        Comment: <%=c.text%> <br><br>
      <%end%>
    </td>
    <td style="width:10%"></td>
  </tr>
</table>

<div class="floatClearer"></div>