<!DOCTYPE html>
<html>
<head>
  <title>Bitwise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
    <!-- The container for the Main Menu and Magazine Logo is created. -->
    <div class="headerContainer">
        <%= image_tag("Bitwise Logo", :id => "logo") %>

        <div class="menuContainer">
            <label for="show-menu" class="show-menu">Menu</label>
            <input type="checkbox" id="show-menu" role="button">

            <ul id="menu">
                <%=  link_to(root_path) do %>
                    <li class="menuSelected">Home</li>
                <% end %>
                <li><%= link_to "Tech news", publications_path(:type => "article", :section => "tech") %></li>
                <li><%= link_to "Gadgets", publications_path(:type => "article", :section => "gadget") %></li>
                <li><%= link_to "Gaming", publications_path(:type => "article", :section => "gaming") %></li>
                <li><%= link_to "Reviews", publications_path(:type => "review", :section => "-") %></li>
            </ul>
        </div>
    </div>

<!-- The container for the Sign In and Search Bar is created. -->
    <div class="headerTwoContainer">
        <div class="signInContainer">
            <%if @current_user%>
                <%= image_tag("Sign in", :id => "signInImage") %>
                <p id="accountMenu" class="signInOut">
                    <%= @current_user.username %>
                    <span class="arrow">&#9660;</span>
                </p>
                <%if @current_user.editor?%>
                    <%= link_to "Create Article", new_publication_path(:type => "article") %>
                    <%= link_to "Create Review", new_publication_path(:type => "review") %>
                <%end%>
                <ul id="accountSubmenu">
                    <li><%= link_to "My account", edit_user_path(@current_user) %></li>
                    <li>Reading list</li>
                    <li><%= link_to "Sign out", logout_url %></li>
                </ul>        
            <% else %>
                <%= link_to image_tag("Sign in", :id => "signInImage"), login_url %>
                <p class="signInOut"><%= link_to "Sign in", login_url %></p>
                <span class="signInOut"><%= link_to "Sign up", new_user_path%></span>       
            <% end %>
        </div>
        <%= image_tag("Search Button", :id => "searchButton") %>
        <input type="text" placeholder="Search" id="searchBar" />
    </div>
    <%= flash[:success] %>

    <div class="content">
        <%= yield %>
    </div>

    <div class="footerSeparator">

    <div class="footerContainer">
        <table id="footer">
            <tr>
                <th>
                    Contact us
                </th>
                <th>
                    About us
                </th>
                <th>
                    Privacy policy
                </th>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
