<!DOCTYPE html>
<html>
<head>
  <title>Bitwise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
    <!-- The container for the Main Menu and Magazine Logo is created. -->
    <div class="headerContainer">
        <%= image_tag("Bitwise Logo", :id => "logo") %>

        <div class="menuContainer">
            <label for="show-menu" class="show-menu">Menu</label>
            <input type="checkbox" id="show-menu" role="button">

            <ul id="menu">
                <%=  link_to(root_path) do %>
                    <li class="menuSelected">Home</li>
                <% end %>
                <li>Tech news</li>
                <li>Gadgets</li>
                <li>Gaming</li>
                <li>Reviews</li>
            </ul>
        </div>
    </div>

<!-- The container for the Sign In and Search Bar is created. -->
    <div class="headerTwoContainer">
        <div class="signInContainer">
            <%if @current_user%>
                <%= link_to image_tag("Sign in", :id => "signInImage"), logout_url %>
            <% else %>
                <%= link_to image_tag("Sign in", :id => "signInImage"), login_url %>          
            <% end %>
        </div>
        <%= image_tag("Search Button", :id => "searchButton") %>
        <input type="text" placeholder="Search" id="searchBar" />
    </div>
    <%= flash[:success] %>

    <div class="content">
        <%= yield %>
    </div>

    <div class="footerSeparator">

    <div class="footerContainer">
        <table id="footer">
            <tr>
                <th>
                    Contact us
                </th>
                <th>
                    About us
                </th>
                <th>
                    Privacy policy
                </th>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
